extends layout

include mixins/_problemForm.pug

block content
  // pre= h.dump(hardware)
  .single
    .single__hero
      img.single__image(src=`/uploads/${hardware.photo || 'default.jpg'}`)
      h2.title.title--single
        a(href=`/hardware/${hardware.slug}`) #{hardware.hardware}

  .single__details.inner

    h1= hardware.name
      p: strong Descrição: #{hardware.description} description bla bla
      hr
      h2: strong Modelos:
      each model in hardware.model
        strong= ` ${model}, `
      hr
    strong Todo: Listar defeitos
    if hardware.problems
      .problemsList
        // todo problem mixin
        each problem in hardware.problems
          p= problem.title
          p= problem.description
          hr
        hr

    
    // Não mostrar form para adicionar por aparelho?
    // +problemForm(hardwares)
    
