include mixins/_homeInfo
include mixins/_topTechs
include mixins/_miniBlog

doctype html
html(lang='en')
  head
    - let title = 'Tecnicos.tech'
    title= `${title} | ${h.siteName}`

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='/dist/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/nprogress.css')
    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css')
    link(rel='icon', href='/images/icons/android-icon-192x192.png', type='image/png')
  body
    block header
      header
          nav.navbar.navbar-expand-md.navbar-dark
            button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarCollapseTarget', aria-controls='navbarCollapseTarget', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            a.navbar-brand(href="/") Técnicos tech #[span.text-warning.underline.font-weight-light beta]

            #navbarCollapseTarget.navbar-collapse.collapse(style='')
              ul.navbar-nav.mr-auto.lighten-3.py-4.mb-r.font-weight-bold.z-depth-1
                each item in h.menu
                  li.nav-item
                    a.nav-link.pl-3(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav-item.active' : ''))
                      span #{item.title}
                if user
                  if user.siteRank == 'admin'
                    li.nav-item
                      a.nav-link.pl-3(href='/config', class=(currentPath.startsWith('/config') ? 'nav-item.active' : ''))
                        span Admin

                  
                  
              .search
                .form-inline.my-2.my-md-0
                  input#search-box.form-control(type='text', placeholder='Buscar por defeitos' name="search")
                  .search-results

              .navbar-nav#loginDiv.z-depth-1
                if user

                  li.nav-item.pl-2: a.nav-link(href="/account", class=(currentPath.startsWith('/account') ? 'nav-link-active' : ''))
                    i.fa.fa-star
                      span.pl-2.heart-count #{user.stars && user.stars.length}
                    
                  span.nav-item.px-2: a.nav-link(href="/account", class=(currentPath.startsWith('/account') ? 'nav-link-active' : ''))
                    if user.gravatar
                      img.avatar#avatar(src=user.gravatar + '&d=retro')
                    else
                      img.avatar#avatar(src=user.image + '&d=retro')

                  span.nav-item.px-2: a.nav-link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav-link-active' : ''))
                      span Sair?
                else
                  li.nav-item.px-2: a.nav-link(href="/register", class=(currentPath.startsWith('/register') ? 'nav-link-active' : '')) Registrar
                  li.nav-item.px-2: a.nav-link(href="/login", class=(currentPath.startsWith('/login') ? 'nav-link-active' : '')) Entrar

                
        
    block messages
      .container
        if locals.flashes
          .flashDiv.py-2
            #flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  -if(message == 'Login falhou!')
                    .flash-msg.alert.alert-danger #{message}
                  -else 
                    .flash-msg(class=`alert alert-${category} py-1 text-center`)
                      p.flash-text!= message 
                        button.flash-remove.close(onClick="this.parentElement.parentElement.remove()") &times;
      
    .content
      block content
      if locals.currentPath == '/'
        .row
          .col-md-9
            .miniBlog
              +miniBlog()
          .col-md-3
            p
            +homeInfo(homeDisplay)
            p
            +topTechs(homeDisplay)


    .footer.fixed-bottom
      .container
        a(href='https://twitter.com/Solidous')
          i.fa.fa-twitter.fa-2x.fa-fw
        a(href='#')
          i.fa.fa-youtube-play.fa-2x.fa-fw
        a(href='https://www.linkedin.com/in/moreno-antunes-138a92b9/')
          i.fa.fa-linkedin.fa-2x.fa-fw
        a(href='#')
          i.fa.fa-medium.fa-2x.fa-fw
        p.mt-1 © 2018 Todos direitos reservados || #[a.text-info(href='http://www.premoreno.com') Project by Moreno A]

    block scripts
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js')
      script.
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
      script(src="/javascripts/bundle.js")