extends layout

include mixins/_repairForm.pug
include mixins/_repairList.pug

block content
  //pre= h.dump(problem)
  .container
    .card
      .row
        .col-sm-4
          #problemImg.m-3
            if problem.photo.length > 0
              a(href=`/uploads/${problem.photo}`)
                img#problemCardImg.img-thumbnail.border.border-info( src=`/uploads/${problem.photo || 'default.jpg'}`, alt="Foto do Defeito")
                figcaption.figure-caption Imagem do defeito.
            else
              p.p-3.border.border-info ** Defeito sem foto **
        .col-sm-8
          h6.card-header Detalhes do defeito, "#{problem.title}":
          .card-body 
            strong: p.card-text Aparelho: 
              span.text-secondary #{problem.hardware.name}
            strong: p.card-text Modelo: 
              span.text-secondary #{problem.hardware.model}
            strong: p.card-text Placa: 
              span.text-secondary #{problem.board}
            strong: p.card-text Descrição: 
              span.text-secondary #{problem.description}
            strong.card-text.bg-warning todo: Dificuldade de reparo // peças // etc
            strong.card-text.bg-warning todo: Galeria de imagens adicionadas
            // todo image galery

      .btn.btn-info.block.mx-3.mb-2(data-toggle='modal' data-target='#myModal') Adicionar um reparo

      .addRepairForm
        #myModal.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header.bg-primary.text-white.p-1
                h6.p-2 Adicionar um Reparo a esse defeito
                button.close(type='button', data-dismiss='modal') × 
              .modal-body.p-1
    hr    

    p.card-text.card-footer.text-white.bg-dark Reparos para esse Defeito:
    input.pl-2#filterRepairs(type='text', onkeyup='filter()', placeholder='Filtrar reparos por...')
    .py-2
      +repairList(repairs)
      p#emptyMsg: strong(style={'display': '' }) Nada encontrado, por favor modifique sua busca!

    script.
      function filter() {
        let input, filter, ul, li, a, i, msg;
        input = document.getElementById('filterRepairs');
        filter = input.value.toUpperCase();
        ul = document.getElementById("repairListUl");
        li = ul.getElementsByTagName('li');
        msg = document.getElementById("emptyMsg")
        msg.style.display = "none";
        let found = 0;
        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            found++;
          } else {
            li[i].style.display = "none";
          }
        }
        if(!found){
          console.log('not found')
          msg.style.display = "";
        }
      }
      filter()

      

    
    

    
    
    


