extends layout

include mixins/_commentForm.pug

block content
  // pre= h.dump(repair)
  .container
    .row
      .mb-3.col-md-5
        .wrapper
          .card-body
            .card-header.card.text-white.bg-info.text-center
              h5.card-title Reparo para o defeito: #{repair.problem.title} 
            img.card-img-top.hwCardImg.py-3(src=`/uploads/${repair.photo || 'store.png'}` alt='Card image cap') 
          .card-body.card.text-white.bg-secondary.text-center
            if user
              .star.star_action
                form.star(method="POST" action=`/api/repairs/${repair._id}/star`)
                  - const starStrings = user.stars.map(obj => obj.toString())
                  - const starClass = starStrings.includes(repair._id.toString()) ? 'star-filled' : ''
                  button.btn.btn-secondary(type="submit" name="star" class=starClass) 
                    i.fa.fa-star
                    span #{` ${repair.stars.length} `}
                    if !starStrings.includes(repair._id.toString())
                      p.small.text-white Qualifique se o reparo deu resultado!
                
      ul.list-group.list-group-flush.col-md-7
        li.list-group-item #[h6 Título do reparo] #{repair.title}
        li.list-group-item #[h6 Aparelho:] #{repair.hardware.name}
        li.list-group-item #[h6 Modelo:] #{repair.hardware.model}
        li.list-group-item #[h6 Componentes reparados:] #{repair.parts}
        li.list-group-item #[h6 Descrição do reparo:]
          p #{repair.description} Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, asperiores dolorum. At iusto id, minus quia est provident omnis sequi sed, fugit excepturi, saepe natus? Rerum, atque eveniet. Id, sit?.
        li.list-group-item 
    
    p.text-white.bg-info.p-2 Comentarios:
    section.comments.mt-3
      if repair.comments
        each comment in repair.comments
          article.comment
            a.comment-img(href='#non')
              //img(src='https://pbs.twimg.com/profile_images/444197466133385216/UA08zh-B.jpeg', alt='', width='50', height='50')
              img.avatar(src=comment.author.gravatar, alt="gravatar", width='80', height='80')
            .comment-body
              .text
                p #{comment.text}
              p.attribution
                | por
                |
                a(href='#non') #{comment.author.name}
                | 
                time(datetime=comment.created)= h.moment(comment.created).locale('pt-br').fromNow()
      if user
        +commentForm(repair)

