extends layout

block content
  .container.pb-3.border-bottom
    h5.mb-3.pb-2.border-bottom Lista de Técnicos ativos no sistema:
    ul.list-group.mb-2
    //pre= h.dump(techs)
    .container.techList
      if user.siteRank == 'admin'
        each technician in techs
          a(href=`/tech/${technician._id}`)
            li.list-group-item.p-1.mb-2(class=(technician.active_status == false ? 'bg-secondary text-white' : ''))
              .row
                .col-md-2
                  span.fa.fa-star.badge-primary.p-2 #[span.pl-1 #{technician.stars.length}]
                .col-md-6
                  strong.ml-2.mr-auto #[span.font-primary #{technician.name}]
                .col-md-2
                  strong.ml-2.mr-auto Ativo: #{technician.active_status}
                .col-md-2
                  strong.ml-2.mr-auto Rank: #{technician.siteRank}
      else
        each technician in techs
          //pre= h.dump(technician)
          if technician.active_status
            a(href=`/tech/${technician._id}`)
              li.list-group-item.p-1.mb-2(class=(technician.siteRank == 'admin' ? 'bg-light border-info' : ''))
                .row
                  .col-md-2
                    span.fa.fa-star.badge-primary.p-2 #[span.pl-1 #{technician.stars.length}]
                  .col-md-8
                    strong.ml-2.mr-auto #[span.font-primary #{technician.name}]
                  .col-md-2
                    strong.ml-2.mr-auto Rank: #{technician.siteRank}
                
                