extends layout

block content
  .container.pb-3.border-bottom
    h5.mb-3.pb-2.border-bottom Lista de Técnicos ativos no sistema:
    ul.list-group.mb-2
      .techList
        if user && user.siteRank == 'admin'
          each technician in techs
            a(href=`/tech/${technician._id}`)
              li.list-group-item.p-0.mb-1.p-2.techLi(class=(technician.active_status == false ? 'bg-secondary text-white' : ''))
                .techStars
                  span.fa.fa-star.badge-primary.p-2 #[span.pl-1 #{technician.stars.length}]
                .techName
                  strong.ml-2.mr-auto #[span.font-primary #{technician.name}]
                .hideSmall
                  strong.ml-2.mr-auto Ativo: #{technician.active_status}
                .hideSmall
                  strong.ml-2.mr-auto Rank: #{technician.siteRank}
        else
          each technician in techs
            if technician.active_status
              a(href=`/tech/${technician._id}`)
                li.list-group-item.p-0.mb-1.p-2.techLi(class=(technician.siteRank == 'admin' ? 'bg-light border-info' : ''))
                  .techStars
                    span.fa.fa-star.badge-primary.p-2 #[span.pl-1 #{technician.stars.length}]
                  .techName
                    strong.ml-2.mr-auto #[span.font-primary #{technician.name}]
                  .hideSmall
                    strong.ml-2.mr-auto Rank: #{technician.siteRank}
              
                