
mixin hwFormUpdate(hw = {}) 
  form.form-group(action=`/updateHw` method="POST"  class="card" enctype="multipart/form-data" id="hwForm")
  
    input(type="text" name='area' form="hwForm" value='hw_' hidden required)
    input(type="text" name='id' form="hwForm" value=hardware._id hidden required)
    
    label(for="name") Nome do Aparelho 
    input.form-control(type="text" name="name" placeholder="aparelho" value=hw.name required)
    
    label(for="model") Modelo do Aparelho 
    input.form-control(type="text" name="model" placeholder="modelo" value=hw.model required)

    label(for="brand") Marca
    input.form-control(type="text" name="brand" placeholder="marca" value=hw.brand required)

    label(for="description") Observações
    textarea.form-control(name="description" placeholder="")= hw.description

    label(for="photos") Photo
      input.form-control(type="file" name="photos" id="photos" accept="image/gif, image/png, image/jpeg" multiple)
      if hw.photos
        img(src=hw.photos.location, alt=hw.name width=200)

    input.form-control.btn-primary(type="submit" value="Salvar" class="button" for="hwForm")