
mixin hwForm(hw = {}) 
  form.form-group(action=`/addHw` method="POST"  class="card" enctype="multipart/form-data")
    
    label(for="name") Nome do Aparelho 
    input.form-control(type="text" name="name" placeholder="aparelho" value=hw.name)
    
    label(for="model") Modelo do Aparelho 
    input.form-control(type="text" name="model" placeholder="modelo" value=hw.model)

    label(for="brand") Marca
    input.form-control(type="text" name="brand" placeholder="marca" value=hw.brand)

    label(for="description") Observações
    textarea.form-control(name="description" placeholder="")= hw.description

    label(for="photo") Photo
      input.form-control(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if hw.photo
        img(src=`/uploads/${hw.photo}`, alt=hw.name width=200)
    
    // break line
    input.form-control(type="submit" value="Salvar" class="button")



    