include _postForm.pug
include _pagination.pug

mixin miniBlog(paginatedPosts = {})
  //pre= h.dump(posts)
  .posts#miniBlog
    each post in paginatedPosts.posts
      .row.bg-secondary.text-white.pt-2.pl-1
        h6.text-left.col-md-8= post.title
        span.text-right.col-md-4
            | por
            |
            a.text-warning(href=`#`) #{post.author.name} #{post.date}
            | 
            time(datetime=post.date)= h.moment(post.date).locale('pt-br').fromNow()
            // WTF?? ^^^
      .row
        p.hrCurved.mb-3.px-2.pb-2= post.text
      p
    +pagination(paginatedPosts.area, paginatedPosts.page, paginatedPosts.pages, paginatedPosts.count)
    if user.siteRank == 'admin'
      .btn.btn-dark.m-1(data-toggle='modal' data-target='#myModal') Novo Post
      .addPostForm
          #myModal.modal.fade(role='dialog')
            .modal-dialog#miniBlogModal
              .modal-content
                .modal-header.bg-primary.text-white.p-1
                  h6.p-2 Adicionar um novo Post
                  button.close(type='button', data-dismiss='modal') × 
                .modal-body.p-1
                  +postForm()
    hr    


    





