
mixin problemForm(problem={}) 
  //-for hw in hardwares 
    pre= h.dump(hw.model)
  form(action=`/addProblem` method="POST"  class="card" enctype="multipart/form-data" id="problemForm")

    label(for="titulo") Título do Defeito
    input(type="text" name="title" placeholder="Digite um título para o defeito" value=problem.title)
    
    label(for="hardware") Escolha qual aparelho
    select(name='hardware' form="problemForm")
      option(value='' selected=!hardwares) (Selecione um console)
      for hardware in hardwares
        option(value=hardware._id selected=(hardware._id === problem.hardware)) #{hardware.name} #{hardware._id}

      
    label(for="model") Qual modelo de aparelho
      input(type="text" name="model" placeholder="modelo" value=problem.model)

    //- p: select(name='model' form="problemForm")
      option(value='' selected=!hardwares) (Selecione um model)
      for hw in hardwares
        for model in hw.model
          option(value=model selected=(model === problem.model)) #{hw.model} 

    //-label(for="board_model") Qual Modelo de Placa
      // separado por vírgula
      input(type="text" name="board_model" placeholder="placa" value=problem.board_model)

    label(for="description") Descrição detalhada do problema
    textarea(name="description" placeholder="descrição")= problem.description

    label(for="photo") Photo
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if problem.photo
        img(src=`/uploads/${problem.photo}`, alt=problem.name width=200)
    label(for="video") Video Placeholder
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if problem.photo
        img(src=`/uploads/${problem.photo}`, alt=problem.name width=200)
      
    
    // break line
    input(type="submit" value="Salvar" class="button")


    