mixin pagination(area, page, pages, count)
  .pagination.row
    .col-md-2.pagination-prev
      if page > 1
        a.text-info(href=`/${area}/page/${page -1}`) Anterior
    .col-md-6.pagination-text.text-center.col-sm-2
        p Página #{page} de #{pages} - De #{count} total.
    .col-md-2.pagination-next
        if page < pages
          a.text-info(href=`/${area}/page/${parseFloat(page) +1}`) Próxima
          