mixin pagination(area, page, pages, count)
  .paginationMixin
    .pagination-prev
      if page > 1
        a.text-info(href=`/${area}/page/${page -1}`) Anterior
    .pagination-text
        p Página #{page} de #{pages} - De #{count} total.
    .pagination-next
        if page < pages
          a.text-info(href=`/${area}/page/${parseFloat(page) +1}`) Próxima
          