mixin problemItem(problem)
  li   
    #hwItem
      //pre=h.dump(problem)
      p: a(href=`/problem/${problem.slug}`) #{problem.title} 
        // img(src=`/uploads/${problem.photo || 'default.jpg'}`)
        strong= `|| Author: ${problem.author.name}`
        p Reparos: #{problem.repairs}
      hr
