
mixin problemForm(problem={}) 
  form.form-group.p-3(action=`/addNewProblem` method="POST"  class="card" enctype="multipart/form-data" id="problemForm")

    input(type="text" name='hardware' form="problemForm" value=hardware._id hidden required)
    input(type="text" name='area' form="problemForm" value='problem_' hidden required)

    label(for="title") Título do Defeito
    input(type="text" name="title" placeholder=" Digite um título para o defeito" value=problem.title required)

    label(for="description") Descrição detalhada do problema
    textarea(name="description" placeholder=" Descrição" required)= problem.description

    label(for="board_model") Modelo da placa: 
    input(type="text" name="board_model" placeholder=" Insira o modelo da placa" value=problem.board_model required)
    p
    label(for="photo") Adicione imagens do defeito 
      p: small máximo 5 imagens com até 5mb cada
      input(type="file" name="photos" id="file_upload" accept="image/gif, image/png, image/jpeg" onchange="get_detail();" multiple)
      if problem.photo
        img(src=problem.photo.location, alt=problem.name width=200)
      p#file_detail
    label(for="video") Link para um video
    span Ideal usar youtube / streamable / vimeo
    input(type="text" name="video" placeholder=" Link para o video" value=problem.video)
    p
    input.form-control.btn.btn-primary(type="submit" value="Salvar" class="buttonFormUpload" for="problemForm")
    script(src="/javascripts/bundle.js")