
mixin repairForm(repair = {}) 
  form(action=`/addRepair` method="POST"  class="card" enctype="multipart/form-data")
    
    label(for="hardware") Aparelho
    input(type="text" name="hardware" placeholder="Qual aparelho?" value=repair.hardware)
    
    label(for="description") Descrição do reparo
    textarea(name="description" placeholder="Descrição do reparo")= repair.description

    label(for="photo") Photo
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if repair.photo
        img(src=`/uploads/${repair.photo}`, alt=repair.name width=200)
    
    label(for="video") Link para o video (Use Youtube/streamable)
    input(type="text" name="video" placeholder="link para o video" value=repair.hardware)
    // break line
    input(type="submit" value="Salvar" class="button")



    