mixin repairItem(repair)
  a#repairLi.font-weight-bold(href=`/repair/${repair.slug}`)
    .row.p-0
      .col-md-3.col-sm-12
        span Título do reparo: #[span.small #{repair.title} ]
      .col-md-7.col-sm-12
        span Descrição: #[span.small.shortenText #{repair.description}] 
      .col-md-2.col-sm-12.mt-1
        span#repairItemBadge.badge.badge-dark
          i.fa.fa-comment.p-1 
          span #{` ${repair.comments.length} `}
          if repair.stars > 0
            i#star.fa.fa-star.p-1 
            span #{` ${repair.stars.length} `}
          else 
            i.fa.fa-star.p-1 
            span #{` ${repair.stars.length} `}