
mixin repairForm(repair = {}) 
  form(action=`/addRepair` method="POST"  class="card" enctype="multipart/form-data" id="repairForm")
    p Adicionar um Reparo a esse defeito
    p Id do Defeito #{problem.title} #{problem._id}
    p Id do hardware #{problem.hardware.name} #{problem.hardware._id}

    input(type="text" name="problem" placeholder="Digite um título para o defeito" value=problem._id hidden)
    input(type="text" name="hardware" placeholder="Digite um título para o defeito" value=problem.hardware._id hidden)

    label(for="title") Título do Defeito
    input(type="text" name="title" placeholder="Digite um título para o reparo" value=repair.title required)
    
    label(for="description") Descrição do reparo
    textarea(name="description" placeholder="Descrição do reparo" required)= repair.description

    label(for="photo") Photo
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if repair.photo
        img(src=`/uploads/${repair.photo}`, alt=repair.name width=200)
    
    label(for="video") Link para o video (Use Youtube/streamable)
    input(type="text" name="video" placeholder="link para o video" value=repair.hardware)
    // break line
    p
    input(type="submit" value="Salvar" class="button")



    